@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.fs-menu-tab {
  font-size: x-small;
}

.fs-small-category {
  font-size: smaller;
}

.fs-card {
  font-size: smaller;
}
